@import "tailwindcss";

@theme{
  --font-righteous: "Righteous", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  
  --color-green: #113939;
  --color-green-100: #356364;
  --color-green-200: #284C4D;
  
  --color-black-100: #021717;
  
  --color-white-100: #F9FFFF;
  --color-white-200: #F5F5F5;
  --color-white-300: #DFF4F5;
  
  --color-grey: #6E8788;
  --color-grey-100: #34373C;
  --color-grey-200: #616263;
  --color-grey-300: #5E5D5D;
  --color-grey-400: #ECECEC;
  
  --color-pink: #FD46E8;
  
  --color-blue: #146AFA;
  
  
  --text-xxs: 10px;
  --text-next:15px;
  --text-32: 32px;
  
  --radius-20: 20px;
  --radius-30: 30px;
  
}

